@mixin box-shadow($horizontal_offset, $vertical_offset, $color) {
  -moz-box-shadow: $horizontal_offset $vertical_offset $color;
  -webkit-box-shadow: $horizontal_offset $vertical_offset $color;
  box-shadow: $horizontal_offset $vertical_offset $color;
}

@mixin flex {
  display: -ms-flexbox;
  display: -moz-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}

@mixin flex-direction($direction) {
  @if $direction == column {
    -moz-box-orient: vertical;
    -webkit-box-orient: vertical;
  } @else if $direction == row {
    -moz-box-orient: horizontal;
    -webkit-box-orient: horizontal;
  }

  -moz-box-direction: normal;
  -webkit-box-direction: normal;
  -ms-flex-direction: $direction;
  -webkit-flex-direction: $direction;
  flex-direction: $direction;
}

@mixin justify-content($alignment) {
  @if $alignment == space-between {
    -ms-flex-pack: justify;
    -moz-box-pack: justify;
    -webkit-box-pack: justify;
  }

  -webkit-justify-content: $alignment;
  justify-content: $alignment;
}

@mixin align-self($alignment) {
  -ms-flex-item-align: $alignment;
  -ms-grid-row-align: $alignment;
  -webkit-align-self: $alignment;
  align-self: $alignment;
}

@mixin center-horizontally-and-vertically($x_percent, $y_percent) {
  @if $x_percent == -50% {
    left: 50%;
  }

  @if $y_percent == -50% {
    top: 50%;
  }

  -ms-transform: translate($x_percent, $y_percent);
  -o-transform: translate($x_percent, $y_percent);
  -moz-transform: translate($x_percent, $y_percent);
  -webkit-transform: translate($x_percent, $y_percent);
  transform: translate($x_percent, $y_percent);
}

@mixin transition($properties, $duration) {
  $durations: [];

  @for $properties from 1 through length($properties) {
    $durations: append($durations, $duration, $separator: space);
  }

  $transition_value: zip($properties, $durations);

  -o-transition: $transition_value;
  -moz-transition: $transition_value;
  -webkit-transition: $transition_value;
  transition: $transition_value;
}

@mixin linear-gradient-background($colors) {
  $colors_list: null;

  @each $color in $colors {
    $colors_list: append($colors_list, $color, $separator: comma);
  }

  background: -o-linear-gradient($colors_list);
  background: -moz-linear-gradient($colors_list);
  background: -webkit-linear-gradient($colors_list);
  background: linear-gradient($colors_list);
}
