$container_bg_color: #9dd2ea;
$container_box_shadow_color: #009de4;

$score_bg_color: #f1ff92;
$score_text_color: #888e5f;

$correct_bg_color: #42e252;

$wrong_bg_color: #de401a;

$feedback_text_color: ghostwhite;

$question_bg_color: #9da0ea;
$question_box_shadow_color: #535aa8;

$instructions_bg_color: #b481d9;
$instructions_box_shadow: #8153a8;
