$default_text_color: #121212;

$container_bg_color: #9dd2ea;
$container_box_shadow_color: #009de4;

$score_bg_color: #ffeea3;
$score_text_color: #0A0A0A;

$correct_bg_color: #42e252;

$wrong_bg_color: #de401a;

$feedback_text_color: ghostwhite;

$question_bg_color: #9da0ea;
$question_box_shadow_color: #535aa8;

$answers_bg_color: ghostwhite;
$answers_box_shadow_color: rgba(0, 0, 0, 0.2);
$answers_hover_bg_color: #9c89f6;
$answers_hover_box_shadow_color: #6b54d3;

$start_reset_bg_color: rgba(255, 255, 255, 0.5);

$time_left_bg_color: rgba(181, 235, 36, 0.7);
$time_left_box_shadow_color: rgba(0, 0, 0, 0.2);

$game_over_gradient_color_1: #F7971E;
$game_over_gradient_color_2: #FFD200;
