* {
  font-size: 12px;
}

#score {
  color: #888e5f;
}

#correct,
#wrong {
  color: ghostwhite;
  text-align: center;
}

#question {
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

#instructions {
  font-size: 20px;
  text-align: center;
}

.answers {
  font-size: 18px;
  text-align: center;
}

#start-button,
#reset-button {
  font-weight: bolder;
}

#time-left {
  text-align: center;
  word-break: break-all;
}

@media all and (min-height: 600px) {
  * {
    font-size: 16px;
  }
  #question {
    font-size: 64px;
  }
  #instructions {
    font-size: 28px;
  }
  .answers {
    font-size: 24px;
  }
}

@media all and (min-width: 700px) and (min-height: 600px) {
  * {
    font-size: 20px;
  }
  #question {
    font-size: 96px;
  }
  #instructions {
    font-size: 40px;
  }
  .answers {
    font-size: 32px;
  }
}

html {
  height: 100vh;
  background: radial-gradient(circle, #fff, #ccc);
}

html body {
  position: relative;
  height: 100vh;
  margin: 0;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#user-game-info {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

#correct,
#wrong {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: none;
  width: 25%;
  top: 22px;
  left: 50%;
  margin: 0;
  padding: 10px;
}

#choices {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media all and (min-width: 700px) {
  #choices {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}

#start-reset {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#start-reset #start-button,
#start-reset #reset-button {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  -webkit-align-self: center;
  align-self: center;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 2vh 0;
  padding: 10px;
}

#start-reset #start-button {
  margin-right: 2vw;
}

@media all and (min-height: 600px) {
  #start-reset #start-button,
  #start-reset #reset-button {
    padding: 2vw;
  }
}

@media all and (min-width: 700px) {
  #start-reset #start-button,
  #start-reset #reset-button {
    margin-right: 0.4vw;
  }
}

#container {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0px 5px;
  background-color: #9dd2ea;
  border-radius: 10px;
  -webkit-box-shadow: 0px 4px #009de4;
  box-shadow: 0px 4px #009de4;
}

@media all and (min-height: 600px) {
  #container {
    padding: 10px 5px;
  }
}

@media all and (min-width: 700px) and (min-height: 600px) {
  #container {
    padding: 10px 20px;
  }
}

#score {
  background-color: #f1ff92;
  margin: 0;
  padding: 5px;
}

@media all and (min-width: 700px) and (min-height: 600px) {
  #score {
    padding: 10px;
  }
}

#correct {
  background-color: #42e252;
}

#wrong {
  background-color: #de401a;
}

#question {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  -webkit-align-self: center;
  align-self: center;
  width: 90%;
  margin: 0;
  padding: 10px;
  background-color: #9da0ea;
  -webkit-box-shadow: 0px 4px #535aa8;
  box-shadow: 0px 4px #535aa8;
}

@media all and (min-height: 600px) {
  #question {
    padding: 25px;
  }
}

#instructions {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  -webkit-align-self: center;
  align-self: center;
  width: 90%;
  margin: 15px 0;
  padding: 10px 25px;
  background-color: #b481d9;
  -webkit-box-shadow: 0px 4px #8153a8;
  box-shadow: 0px 4px #8153a8;
}

@media all and (min-height: 600px) {
  #question {
    padding: 20px 50px;
  }
}

.answers {
  width: 50%;
  background-color: ghostwhite;
  margin: 0.5vh 0.5vw;
  padding: 1vh 1vw;
}

@media all and (min-width: 700px) {
  .answers {
    width: 100%;
  }
}

#time-left {
  margin: 0;
  padding: 5px 2px;
  width: 100px;
  border-radius: 2px;
  -webkit-box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
  background-color: rgba(181, 235, 36, 0.7);
  visibility: hidden;
}

@media all and (min-height: 600px) {
  #time-left {
    padding: 10px 5px;
  }
}
