* {
  font-size: 12px;
  color: #121212;
  font-family: Arial, Helvetica, Verdana, sans-serif;
}

#score {
  color: #0A0A0A;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

#score .score-value {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

#correct,
#wrong {
  color: ghostwhite;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
}

#question {
  font-size: 50px;
  text-align: center;
}

#instructions {
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
}

.answers {
  font-size: 18px;
  text-align: center;
}

#start-button,
#reset-button {
  font-weight: bolder;
}

#time-left {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  word-break: break-all;
}

#game-over {
  color: ghostwhite;
  font-weight: bold;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#game-over p {
  font-size: 44px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

#game-over .score-value {
  font-size: 44px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

@media all and (min-height: 600px) {
  * {
    font-size: 16px;
  }
  #question {
    font-size: 64px;
  }
  #instructions {
    font-size: 28px;
  }
  .answers {
    font-size: 24px;
  }
  #game-over p {
    font-size: 56px;
  }
  #game-over .score-value {
    font-size: 56px;
  }
}

@media all and (min-width: 700px) and (min-height: 600px) {
  * {
    font-size: 20px;
  }
  #question {
    font-size: 96px;
  }
  #instructions {
    font-size: 40px;
  }
  .answers {
    font-size: 32px;
  }
  #game-over p {
    font-size: 84px;
  }
  #game-over .score-value {
    font-size: 84px;
  }
}

html {
  background: radial-gradient(circle, #fff, #ccc);
}

html body {
  position: relative;
  margin: 0;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#user-game-info {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

#correct,
#wrong {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  display: none;
  width: 25%;
  top: 22px;
  left: 50%;
  margin: 0;
  padding: 10px;
}

#choices {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media all and (min-width: 700px) {
  #choices {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}

#start-reset-buttons {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#start-reset-buttons #start-button,
#start-reset-buttons #reset-button {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  -webkit-align-self: center;
  align-self: center;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 2vh 0;
  padding: 10px;
}

#start-reset-buttons #start-button {
  margin-right: 4vw;
}

@media all and (min-height: 600px) {
  #start-reset-buttons #start-button,
  #start-reset-buttons #reset-button {
    padding: 2vw;
  }
}

#container {
  position: relative;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 5%;
  background-color: #9dd2ea;
  border-radius: 10px;
  padding: 0px 5px;
  -webkit-box-shadow: 0px 4px #009de4;
  box-shadow: 0px 4px #009de4;
}

@media all and (min-height: 600px) {
  #container {
    padding: 10px 5px;
  }
}

@media all and (min-width: 700px) and (min-height: 600px) {
  #container {
    padding: 10px 20px;
  }
}

.answers,
#start-reset-buttons #start-button,
#start-reset-buttons #reset-button {
  -webkit-box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
  -webkit-transition: background-color 0.5s, color 0.5s, box-shadow 0.5s, top 0.5s;
  -webkit-transition: background-color 0.5s, color 0.5s, top 0.5s, -webkit-box-shadow 0.5s;
  transition: background-color 0.5s, color 0.5s, top 0.5s, -webkit-box-shadow 0.5s;
  transition: background-color 0.5s, color 0.5s, box-shadow 0.5s, top 0.5s;
  transition: background-color 0.5s, color 0.5s, box-shadow 0.5s, top 0.5s, -webkit-box-shadow 0.5s;
}

.answers:hover, .answers:focus,
#start-reset-buttons #start-button:hover,
#start-reset-buttons #start-button:focus,
#start-reset-buttons #reset-button:hover,
#start-reset-buttons #reset-button:focus {
  background-color: #9c89f6;
  color: ghostwhite;
  -webkit-box-shadow: 0px 4px #6b54d3;
  box-shadow: 0px 4px #6b54d3;
}

.answers:active,
#start-reset-buttons #start-button:active,
#start-reset-buttons #reset-button:active {
  top: 4px;
  background-color: #9c89f6;
  color: ghostwhite;
  -webkit-box-shadow: 0px 0px #6b54d3;
  box-shadow: 0px 0px #6b54d3;
}

#score {
  position: relative;
  right: 0;
  background-color: #ffeea3;
  margin: 0;
  padding: 5px;
}

@media all and (min-width: 700px) and (min-height: 600px) {
  #score {
    padding: 10px;
  }
}

#correct {
  background-color: #42e252;
}

#wrong {
  background-color: #de401a;
}

#question {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  -webkit-align-self: center;
  align-self: center;
  width: 90%;
  margin: 0;
  padding: 10px;
  background-color: #9da0ea;
  -webkit-box-shadow: 0px 4px #535aa8;
  box-shadow: 0px 4px #535aa8;
}

@media all and (min-height: 600px) {
  #question {
    padding: 25px;
  }
}

#instructions {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  -webkit-align-self: center;
  align-self: center;
  width: 90%;
  margin: 15px 0;
  padding: 10px 25px;
  background-color: #b481d9;
  -webkit-box-shadow: 0px 4px #8153a8;
  box-shadow: 0px 4px #8153a8;
}

@media all and (min-height: 600px) {
  #question {
    padding: 20px 50px;
  }
}

.answers {
  width: 50%;
  background-color: ghostwhite;
  margin: 0.5vh 0.5vw;
  padding: 1vh 1vw;
}

@media all and (min-width: 700px) {
  .answers {
    width: 100%;
  }
}

#time-left {
  margin: 0;
  padding: 5px 2px;
  width: 100px;
  border-radius: 2px;
  -webkit-box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
  background-color: rgba(181, 235, 36, 0.7);
  visibility: hidden;
}

@media all and (min-height: 600px) {
  #time-left {
    padding: 10px 5px;
  }
}

#game-over {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50.5%);
  transform: translate(-50%, -50.5%);
  visibility: hidden;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
  background: -webkit-gradient(linear, left top, left bottom, from(#F7971E), to(#FFD200));
  background: linear-gradient(#F7971E, #FFD200);
  text-align: center;
  padding: 30px 50px;
}

#game-over p {
  margin: 10px;
}

header {
  margin: 5%;
  border-radius: 10px;
  padding: 0 10px;
  background-color: #9dd2ea;
  -webkit-box-shadow: 0px 4px #009de4;
  box-shadow: 0px 4px #009de4;
  text-align: center;
}
