p {
  font-size: 20px;
}

#score {
  color: #888e5f;
}

#correct,
#wrong {
  color: ghostwhite;
  text-align: center;
}

#question {
  font-size: 96px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

#instructions {
  font-size: 32px;
  font-size: clamp(20px, 2vw, 32px);
  text-align: center;
}

.answers {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 48px;
  font-size: clamp(20px, 4vw, 48px);
}

html {
  height: 100vh;
  background: radial-gradient(circle, #fff, #ccc);
}

body {
  position: relative;
  height: 100%;
}

#correct,
#wrong {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: none;
  width: 25%;
  top: 5px;
  left: 50%;
  padding: 10px;
}

#choices {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  -webkit-align-self: center;
  align-self: center;
  width: calc(75% + 100px);
  height: 10%;
}

#container {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0 5%;
  padding: 20px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #9dd2ea;
  border-radius: 10px;
  -webkit-box-shadow: 0px 4px 0px 0px #009de4;
  box-shadow: 0px 4px 0px 0px #009de4;
}

#score {
  background-color: #f1ff92;
  -ms-flex-item-align: flex-end;
  -ms-grid-row-align: flex-end;
  -webkit-align-self: flex-end;
  align-self: flex-end;
  padding: 10px;
}

#correct {
  background-color: #42e252;
}

#wrong {
  background-color: #de401a;
}

#question {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  -webkit-align-self: center;
  align-self: center;
  width: 75%;
  height: 25%;
  margin: 0;
  padding: 50px;
  background-color: #9da0ea;
  -webkit-box-shadow: 0px 4px #535aa8;
  box-shadow: 0px 4px #535aa8;
}

#instructions {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  -webkit-align-self: center;
  align-self: center;
  width: 75%;
  height: 10%;
  padding: 20px 50px;
  background-color: #b481d9;
  -webkit-box-shadow: 0px 4px #8153a8;
          box-shadow: 0px 4px #8153a8;
}
