html {
  background: radial-gradient(circle, #fff, #ccc);

  body {
    position: relative;

    margin: 0;

    @include flex;
    @include flex-direction(column);
    @include justify-content(center);
    justify-items: center;
    align-items: center;
  }
}
