* {
  font-size: 12px;

  color: $default_text_color;

  font-family: Arial, Helvetica, Verdana, sans-serif;
}

#score {
  color: $score_text_color;

  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;

  .score-value {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }
}

#correct,
#wrong {
  color: $feedback_text_color;

  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;

  text-align: center;
}

#question {
  font-size: 50px;

  text-align: center;
}

#instructions {
  font-size: 20px;

  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;

  text-align: center;
}

.answers {
  font-size: 18px;

  text-align: center;
}

#start-button,
#reset-button {
  font-weight: bolder;
}

#time-left {
  text-align: center;

  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;

  word-break: break-all;
}

#game-over {
  color: $feedback_text_color;

  font-weight: bold;

  // Code for text outline sourced from https://css-tricks.com/adding-stroke-to-web-text/
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;

  p {
    font-size: 44px;

    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }

  .score-value {
    font-size: 44px;

    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }
}

@media all and (min-height: 600px) {
  * {
    font-size: 16px;
  }

  #question {
    font-size: 64px;
  }

  #instructions {
    font-size: 28px;
  }

  .answers {
    font-size: 24px;
  }

  #game-over {
    p {
      font-size: 56px;
    }

    .score-value {
      font-size: 56px;
    }
  }
}

@media all and (min-width: 700px) and (min-height: 600px) {
  * {
    font-size: 20px;
  }

  #question {
    font-size: 96px;
  }

  #instructions {
    font-size: 40px;
  }

  .answers {
    font-size: 32px;
  }

  #game-over {
    p {
      font-size: 84px;
    }

    .score-value {
      font-size: 84px;
    }
  }
}
