* {
  font-size: 12px;
}

#score {
  color: $score_text_color;
}

#correct,
#wrong {
  color: $feedback_text_color;
  text-align: center;
}

#question {
  font-size: 50px;

  font-family: Arial, Helvetica, sans-serif;

  text-align: center;
}

#instructions {
  font-size: 20px;
  text-align: center;
}

.answers {
  font-size: 18px;

  text-align: center;
}

#start-button,
#reset-button {
  font-weight: bolder;
}

#time-left {
  text-align: center;
  word-break: break-all;
}

@media all and (min-height: 600px) {
  * {
    font-size: 16px;
  }

  #question {
    font-size: 64px;
  }

  #instructions {
    font-size: 28px;
  }

  .answers {
    font-size: 24px;
  }
}

@media all and (min-width: 700px) and (min-height: 600px) {
  * {
    font-size: 20px;
  }

  #question {
    font-size: 96px;
  }

  #instructions {
    font-size: 40px;
  }

  .answers {
    font-size: 32px;
  }
}
