#container {
  @include flex;

  @include flex-direction(column);

  padding: 10px 5px;

  background-color: $container_bg_color;
  border-radius: 10px;

  @include box-shadow(0px, 4px, $container_box_shadow_color);
}

@media all and (min-width: 700px) {
  #container {
    padding: 10px 20px;
  }
}
