#start-reset {
  @include flex;

  @include flex-direction(row);

  @include justify-content(center);

  #start-button,
  #reset-button {
    @include align-self(center);

    background-color: $start_reset_bg_color;

    margin: 2vh 0;
    padding: 10px;
  }

  #start-button {
    margin-right: 2vw;
  }
}

@media all and (min-height: 600px) {
  #start-reset {
    #start-button,
    #reset-button {
      padding: 2vw;
    }
  }
}

@media all and (min-width: 700px) {
  #start-reset {
    #start-button,
    #reset-button {
      margin-right: 0.4vw;
    }
  }
}
